@media screen and (min-width: 480px) {
  .container {
    max-width: 428px; 
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px; 
    }

 /* header  navigation*/

.navigation-menu {
  display: none;
}

.contacts{
   display: none;
}

/* section hiro */

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.hero {
  background-image: var(--background-hiro),
    url(../images/tablet-hiro.jpg);
}
}


.hero {
background-image: var(--background-hiro),
url(../images/mobile-hiro.jpg);
}


.solutions {
  max-width: 428px;
  padding-left: 54px;
  padding-right: 54px;
 }

 /* modal widow */

.modal {
  width: 392px;

}

/* section text strategy */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
 }

/* section-what */

.section-what {
  display: none;
}

.title-what {
display: none;
}  

/* team */

 .background-team {
  background: var(--logo-studio-footer);
  }


.our-team {
  padding-left: 0px;
  align-items: center;
}

/* customers */

.customers {
  row-gap: 72px;
  column-gap: 16px;
}

.customers-background {
  width: 190px;
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: block;
  padding: 16px 32px;
}

.YA-CO,
.tagline-here, 
.company,
.foster-peters,
.brand,
.tag-line {
  width: 110px;
  height: 56px;
}

/* footer */


.flex-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.footer-web {
  padding-left: 75.12px;
}

.footer-text {  
 padding-bottom: 72px;
}

.footer-social {
  padding-left: 0px;
}

.social-media {
 padding-left: 56px;
 padding-right: 56px;
margin-bottom: 16px;
}

.social-menu-footer {
   margin-bottom: 72px;
}

.footer-form-fild { 
 width: 100%;
}

.footer-subscribe {
padding-left: 161px;
}

.footer-form input { 
  width: 100%; 
  margin-bottom: 16px; 
  }


.subscribe {
margin-top: 16px;
margin: 0 auto;
}


.subscribe:hover,
.subscribe:focus {
 background-color: var(--buttom-hover-color);
}

.svg-subscrible {
  position: absolute;
	fill: currentColor;
	margin-left: 16px;
}

/* page portfolio */

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  margin-bottom: 72px;
  justify-content: left;
}

.btn {
  background: var(--logo-studio-footer);
  border: 1px solid var(--footer-text-color);
  border-radius: 4px;
  transition: background-color 250ms var(--cubic-bezier),
    fill 250ms var(--cubic-bezier);
}

.btn-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-brand);
  letter-spacing: 0.04em;
  padding: 12px 24px;
}

.btn:hover {
  background: var(--primary-brand);
  box-shadow: 0px 3px 1px var(--btn-hover-color), 0px 2px 1px var(--shadow),
    0px 2px 2px var(--btn-hover);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-bg-color);
  border: 1px solid transparent;
}

.content-menu {
justify-content: center;
 gap: 24px;
}

.content-portfolio {
  width: 356px;
  background: var(--body-bg-color);
  box-shadow: 0px 1px 6px var(--personal-color);
}

/* Mobile-menu */

.mob-menu-phone-number {
  font-size: 36px;
}

.mob-menu-social-list {
  display: flex;
  gap: 56px;
  max-width: 328px;
}



}
