@media screen and (min-width: 768px) {
    .container {
      max-width: 720px;
      margin-left: 16px;
      margin-right: 16px;
    }

}

  header .container {
   
    background: var(--body-bg-color);
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 0px;
}

.web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: var(--primary-brand);
  letter-spacing: 0.03em;
 padding: 0;
}

.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: var(--text-color);
  letter-spacing: 0.03em;
  padding: 0;
}

/* navigation */

.navigation-menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: 123px;
}

.active::after {
  width: 100%;
  height: 4px;
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  border-radius: 2px;
  background: var(--buttom-hover-color);
}

.link-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  transition: background-color 250ms var(--cubic-bezier),
    fill 250ms var(--cubic-bezier);
}

/* tel, mail */

.contacts {
  display: flex;
}



